/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--text-weight);
  font-size: 18px;
  background-color: var(--gradient-end-color);
  background-image: repeating-linear-gradient(
      to left,
      var(--grid-line-color) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to top,
      var(--grid-line-color) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      to bottom,
      var(--gradient-start-color) 0.01%,
      var(--gradient-end-color) 100%
    );

  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  justify-content: center;
  margin-block-start: 100px;
}

.header-content {
  padding: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem);
  border: 2px solid var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--content-width);
  max-height: var(--content-height);
  background-color: var(--background-color);
  gap: 20px;
}

.header__title {
  font-family: var(--accent-font, sans-serif);
  font-size: clamp(3.063rem, 2.71rem + 1.5vw, 4.063rem);
}

.header__subtitle {
  font-family: var(--accent-font, sans-serif);
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.677rem + 0.85vw, 1.438rem);
  white-space: nowrap;
}

.main {
  margin-top: 98px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-list {
  width: var(--content-width);
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--text-color);
  background-color: var(--background-color);
  overflow: hidden;
}

/* Высоты для каждой карточки */
.card:nth-child(1) {
  height: 956px;
}

.card:nth-child(2) {
  height: 998px;
}

.card:nth-child(3) {
  height: 956px;
}

.card:nth-child(4) {
  height: 998px;
}

.card:nth-child(5) {
  height: 1019px;
}

.card:nth-child(6) {
  height: 956px;
}

.card:nth-child(7) {
  height: 998px;
}

.card:nth-child(8) {
  height: 1040px;
}

.card-title {
  font-variation-settings: "wght" var(--title-weight);
  line-height: normal;
  font-size: 18px;
  padding: 4px 10px 4px 10px;
}

.card-img-section {
  position: relative;
}

.card-img-label {
  top: 25px;
  right: 25px;

  position: absolute;
  mix-blend-mode: hard-light;
  font-size: 14px;
  font-family: var(--accent-font, sans-serif);
  font-weight: 400;
  color: var(--text-color);
  opacity: 0.5;
  text-shadow: -1px -1px 0 var(--text-outline-color),
    1px -1px 0 var(--text-outline-color),
    -1px 1px 0 var(--text-outline-color),
    1px 1px 0 var(--text-outline-color);
}

@supports (-webkit-text-stroke: 1px var(--background-color)) or
  (text-stroke: 1px var(--background-color)) {
  .card-img-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
  }
}
.card-img-container {
  position: relative;
  overflow: hidden;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.filter-saturate {
  filter: saturate(200%);
}

.filter-grayscale {
  filter: grayscale(80%);
}

.filter-sepia {
  filter: sepia(60%);
}

.filter-blur {
  filter: blur(2px);
}

.filter-contrast {
  filter: contrast(150%);
}

.filter-brightness {
  filter: brightness(120%);
}

.filter-hue-rotate {
  filter: hue-rotate(90deg);
}

.filter-multiple {
  filter: contrast(120%) brightness(110%) saturate(130%) hue-rotate(15deg);
}

.card-text-section {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex-grow: 1;
  overflow: visible;
}

.card-text {
  line-height: 21px;
  font-variation-settings: "wght" var(--text-weight);
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.card__button-section {
  background-color: var(--background-color);
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  padding: 0 25px 25px;
}

.button__text {
  font-family: var(--accent-font, sans-serif);
  color: var(--button-text-color);
  font-size: 14px;
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
  font-weight: 400;
}

.button-text.form-button-text {
  text-transform: uppercase;
}

/* АНИМАЦИЯ СЕРДЦА  */

.like-icon {
  width: 39px;
  height: 39px;
  cursor: pointer;
  transform-origin: center;
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  opacity: 0;
}

/* HOVER */
.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.05s;
}

/* ACTIVE  */
.like-icon:active .core {
  fill: var(--heart-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body {
  fill: var(--heart-fill-color);
  transition: fill 0.3s linear 0.05s;
}

/* IS-LIKED (после клика) */
.like-icon.is-liked .core {
  fill: var(--heart-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-fill-color);
  transition: fill 0.3s linear 0.06s;
}

/* Анимация масштабирования сердца */
.like-icon.is-liked .heart {
  animation: scale-heart 0.3s ease-in 0.1s 1;
}

/* Анимация искр */
.like-icon.is-liked .sparks {
  animation: sparks-animation 0.3s ease-in 0.3s 1;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  color: var(--text-color);
  align-items: center;
  background-color: var(--background-color);
  cursor: pointer;
  outline: none;
  border: 2px solid transparent;
  transition: outline 0.3s ease, border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color);
}

.button {
  position: relative;
  background: var(--background-color);
  border: 2px solid var(--text-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  transition: box-shadow 0.3s ease;
}

.button:hover::after {
  color: var(--button-text-color);
}

.button::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  inset: 0;
  width: 0;
  height: 100%;
  background-color: var(--text-color);
  transition: width 0.5s ease-in-out;
}

.button:hover::before {
  width: 100%;
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--text-color);
}

.footer {
  display: flex;
  justify-content: center;
}

.footer-button {
  margin-top: 50px;
  padding: 15px 19px;
  gap: 3.5px;
}

.footer-image {
  height: 21px;
  width: 21px;
}

.footer-text {
  font-family: var(--accent-font, sans-serif);
  font-weight: 400;
  font-size: 14px;
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog {
  position: fixed;
  inset: 0;
  margin: auto;
  border: 2px solid var(--text-color);
  padding: 30px;
  background-color: var(--background-color);
  width: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog__text {
  color: var(--text-color);
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog__icon {
  width: 39px;
  height: 39px;
  fill: currentColor;
  flex-shrink: 0;
}

.form-icon-section {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.form-button {
  background: var(--background-color);
  border: 2px solid var(--text-color);
  width: 100%;
  padding: 12.5px 0;
  cursor: pointer;
}

@media (width <= 376px) {
  .card__button-section {
    padding: 25px 25px;
  }

  .card:nth-child(1) {
    height: 758px;
  }

  .card:nth-child(2) {
    height: 820px;
  }

  .card:nth-child(3) {
    height: 736px;
  }

  .card:nth-child(4) {
    height: 799px;
  }

  .card:nth-child(5) {
    height: 841px;
  }

  .card:nth-child(6) {
    height: 715px;
  }

  .card:nth-child(7) {
    height: 778px;
  }

  .card:nth-child(8) {
    height: 862px;
  }
  .footer-button {
    flex-direction: column;
    gap: 8px;
  }

  .footer-image {
    width: 28px;
    height: 28px;
  }
}
