/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter", Arial, sans-serif;
  --accent-font: "PressStart2P", monospace;
  --text-weight: 410;
  --title-weight: 715;

  /* Цвета для градиентов */
  --grid-line-color: #d3d3d3;
  --gradient-start-color: #e7e7e7;
  --gradient-end-color: #1a1a1a;
  --background-color: #fff;
  --text-color: #000;
  --content-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --content-height: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);
  --button-text-color: #fff;
  --contour-color: #000;
  --heart-fill-color: #ff0000;
}
